/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
    /*position: fixed;*/
    width: 100%;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #0093d8;
    /* border-radius: 5px; */
    transition: 0.3s ease;
    height: 100%;
    /* max-height: 100%; */
}
.navbar {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.cms {
  margin-top: 25px;
}
.menu li a {
  text-decoration: none;
}

   .menu li {
    padding: 1.65rem 1rem;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: #0093d8;
    width: 100%;
    display: none;
}
ul.dropdown {
  padding-left: 0;
  margin-left: -16px;
}
.menu a:hover {
  color: white;
}
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li:hover {
    background-color: #007bb5;
   }
   .services:hover .dropdown {
    display: block;
   }
   .dropdown, .dropend, .dropstart, .dropup {
    position: absolute !important;
}
.slide {
    background: url("images/slide.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.fixed-top {
    height: 80px;
    background-color: #353939ab;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

/* Slideshow container */
.slideshow-container p{
   font-size: 24px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 230px 230px 230px 0px;
    color: white;
  }

  .container-fluid.slide {
    padding-top: 13rem;
  }

  .mySlides h2 {
    font-size: 48px;
  }
  .mySlides p {
    font-size: 24px;
    width: 27rem;
  }
  
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 12rem;
  }
  .footer .company {
    font-weight: 300;
    font-size: 24px;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.footer .contact {
  font-weight: 300;
  font-size: 24px;
  padding-top: 2rem;
  
}
.footer {
  color: white;
  background-color: #252727;
}

form {
  margin: 2em 0;
  position: relative;
}
.footer input {
  color: white;
}
.footer textarea {
  color: white;
}

#charNum {
  position: absolute;
    bottom: -21px;
    font-size: 12px;
    left: 9.5rem;
}
#text {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  left: 20px;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  top: -2.25rem;
  transition: all 0.2s ease-in-out;
  
}
 
.floating-field {
  float: right;
  width: 100%;
  position: relative;
  border:1px black;
}
 
.floating-field label {
  color: #C5E2E2;
  
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
  text-transform: capitalize;
}

.floating-field .label-area {
  color: #C5E2E2;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
  text-transform: capitalize;
}
.field.text-input input {
  background-color: #252727;
  margin-bottom: 1rem;
}

 
.floating-field.wide {
  width: 100%;
}

input, textarea {
  
  border: 1px solid black;
  width: 100%;
  font-size: 1rem;
}
 
input:focus, textarea:focus {
  outline: 0;
}
 
input:focus ~ span, textarea:focus ~ span {
  width: 100%;
  transition: all 0.125s ease-in-out;
}

textarea {
  width: 100%;
  min-height: 13em;
  background-color: #252727;
}
.area label {
  padding: 1rem;
}
.text-input input {
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
}
label.label-input {
  padding: 10px;
  text-transform: inherit;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

input:focus {
  outline: 0;
  border: 1px solid #007bb5;
}
textarea:focus {
  outline: 0;
  border: 1px solid #007bb5;
}

.submit-input {
  float: right;
  margin-top: inherit;
}

.submit-input input {
  background-color: #007bb5;
  border: 0;
  border-radius: 5px;
  width: 9.5rem;
  height: 3rem;
  margin-top: -1rem;
}
.submit-input input:hover {
  background-color: #007bb5;
}
.plane img {
  float: right;
  margin-bottom: -2rem;
  margin-right: 1.5rem;
}

.footer p {
  font-size: 14px;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}


input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
  

  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  .planet h2 {
    margin-top: 6rem;
    font-weight: 200;
    margin-bottom: 2rem;
}
.planet p {
  text-align: justify;
}
  
  .planet .planet-img {
    float: right;
    padding-left: 25px;
  }
  /* The dot/bullet/indicator container */
  .dot-container {
    padding: 40px 20px 170px 20px;
    margin-left: -15px;
    margin-top: -200px;
  }
  img.blue-arrow {
    padding-right: 10px;
}
.links a {
  float: right;
}
.links a:hover {
  text-decoration: none;
}
.partners {
  text-align: center;
}
h2.partners-title {
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-weight: 300;
}
.row.partners {
  border: 1px solid;
  padding: 20px;
  margin-bottom: 5rem;
}
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #0093d8;
  }
  
  .author {color: cornflowerblue;}


   /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }