/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: cursive;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
    /*position: fixed;*/
    width: 100%;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: #0093d8;
    /* border-radius: 5px; */
    transition: 0.3s ease;
    height: 100%;
    /* max-height: 100%; */
}
.navbar {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.cms {
  margin-top: 25px;
}
.menu li a {
  text-decoration: none;
}

   .menu li {
    padding: 1.65rem 1rem;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: #0093d8;
    width: 100%;
    display: none;
}
ul.dropdown {
  padding-left: 0;
  margin-left: -16px;
}
.menu a:hover {
  color: white;
}
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li:hover {
    background-color: #007bb5;
   }
   .services:hover .dropdown {
    display: block;
   }
   .dropdown, .dropend, .dropstart, .dropup {
    position: absolute !important;
}
.slide {
    background: url("images/slide.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.fixed-top {
    height: 80px;
    background-color: #353939ab;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}

/* Slideshow container */
.slideshow-container p{
   font-size: 24px;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 230px 230px 230px 0px;
    color: white;
  }

  .container-fluid.slide {
    padding-top: 13rem;
  }

  .mySlides h2 {
    font-size: 48px;
  }
  .mySlides p {
    font-size: 24px;
  }
  
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  .planet h2 {
    margin-top: 6rem;
    font-weight: 200;
    margin-bottom: 2rem;
}
.planet p {
  text-align: justify;
}
  
  .planet .planet-img {
    float: right;
    padding-left: 25px;
  }
  /* The dot/bullet/indicator container */
  .dot-container {
    padding: 40px 20px 170px 20px;
    margin-left: -15px;
    margin-top: -200px;
  }
  img.blue-arrow {
    padding-right: 10px;
}
.links a {
  float: right;
}
.links a:hover {
  text-decoration: none;
}
.partners {
  text-align: center;
}
h2.partners-title {
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-weight: 300;
}
.row.partners {
  border: 1px solid;
  padding: 20px;
  margin-bottom: 5rem;
}
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #0093d8;
  }
  
  .author {color: cornflowerblue;}


   /*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }